<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 about">
        <h2>who are we</h2>
        <a href="#">Meet the Entire Team</a>
        <p>
          Our team is a diverse and dynamic group of individuals dedicated to
          excellence in every aspect of our work. With a blend of experience,
          expertise, and innovation, we collaborate seamlessly to tackle
          challenges and drive success. From visionary leaders guiding our
          direction to skilled professionals executing with precision, each
          member brings unique strengths to the table. Together, we embody a
          culture of creativity, collaboration, and continuous improvement,
          ensuring that we deliver exceptional results and exceed expectations.
          With passion and dedication, we strive to achieve our goals and uphold
          our commitment to excellence in everything we do.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 team-member">
        <ul>
          <li class="d-flex justify-content-around">
            <div class="photo">
              <img src="../../../../assets/images/1.jpg" alt="img" />
              <div class="info">
                <h3>Prof. Dr.Ahmed Ebada</h3>
                <p>CEO</p>
              </div>
            </div>

            <div class="photo">
              <img src="../../../../assets/images/2.jpg" alt="img" />
              <div class="info">
                <h3>Mohammed Abdelhay</h3>
                <p>CTO</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 team-member end-team">
        <ul>
          <li class="d-flex justify-content-around">
            <div class="photo">
              <img src="../../../../assets/images/3.jpg" alt="img" />
              <div class="info">
                <h3>Mohammed Alshaaer</h3>
                <p>CPO</p>
              </div>
            </div>
            <div class="photo">
              <img src="../../../../assets/images/4.jpg" alt="img" />
              <div class="info">
                <h3>Nour Seif</h3>
                <p>CFO</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
