<section class="services">
  <div class="container">
    <div class="section-head">
      <h2>goldenia <span>services</span></h2>
    </div>
    <div class="row text-center services-content">
      <div
        class="col-md-4 col-sm-6 d-flex flex-column align-items-center justify-content-around"
      >
        <img src="../../../../assets/images/icon-1.png" alt="img" />
        <h3>Gold Transaction</h3>
        <p>
          Gold transactions involve the buying, selling, or exchanging of gold,
          a precious metal highly valued for its inherent worth and historical
          significance.
        </p>
        <a href="#">read more</a>
      </div>
      <div
        class="col-md-4 col-sm-6 d-flex flex-column align-items-center justify-content-around"
      >
        <img src="../../../../assets/images/icon-2.png" alt="img" />
        <h3>Instant Exchange</h3>
        <p>
          Instant exchange refers to the rapid conversion of one form of Gold
          assets into another with minimal delay, providing seamless liquidity
          and convenience for users.
        </p>
        <a href="#">read more</a>
      </div>
      <div
        class="col-md-4 col-sm-6 d-flex flex-column align-items-center justify-content-around"
      >
        <img src="../../../../assets/images/icon-3.png" alt="img" />
        <h3>Investment Banking</h3>
        <p>
          Gold investment and banking merge traditional financial services with
          the stability and value of gold assets, offering secure storage,
          trading, and portfolio diversification opportunities within the
          precious metals market.
        </p>
        <a href="#">read more</a>
      </div>
    </div>

    <div class="row text-center services-content">
      <div
        class="col-md-4 col-sm-6 d-flex flex-column align-items-center justify-content-around"
      >
        <img src="../../../../assets/images/icon-4.png" alt="img" />
        <h3>Safe and Secure</h3>
        <p>
          Safe and secure solutions prioritize the protection of sensitive data
          and assets through robust encryption, multi-factor authentication, and
          proactive monitoring, ensuring peace of mind for users and
          stakeholders.
        </p>
        <a href="#">read more</a>
      </div>
      <div
        class="col-md-4 col-sm-6 d-flex flex-column align-items-center justify-content-around"
      >
        <img src="../../../../assets/images/icon-5.png" alt="img" />
        <h3>Investment Planning</h3>
        <p>
          Investment planning involves strategic analysis, goal setting, and
          portfolio optimization to maximize returns and minimize risks,
          tailored to individual financial objectives and timelines.
        </p>
        <a href="#">read more</a>
      </div>
      <div
        class="col-md-4 col-sm-6 d-flex flex-column align-items-center justify-content-around"
      >
        <img src="../../../../assets/images/icon-6.png" alt="img" />
        <h3>Instant Trading</h3>
        <p>
          Instant trading enables swift execution of buy and sell orders for
          Gold, providing real-time access to markets and liquidity.
        </p>
        <a href="#">read more</a>
      </div>
    </div>
  </div>
</section>

<section class="counter">
  <ul class="row">
    <li class="col-md-3 col-sm-6">
      <div class="d-flex flex-column align-items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="60"
          width="60"
          viewBox="0 0 512 512"
        >
          <path
            fill="#f5f5f5"
            d="M105.1 202.6c7.7-21.8 20.2-42.3 37.8-59.8c62.5-62.5 163.8-62.5 226.3 0L386.3 160H352c-17.7 0-32 14.3-32 32s14.3 32 32 32H463.5c0 0 0 0 0 0h.4c17.7 0 32-14.3 32-32V80c0-17.7-14.3-32-32-32s-32 14.3-32 32v35.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5zM39 289.3c-5 1.5-9.8 4.2-13.7 8.2c-4 4-6.7 8.8-8.1 14c-.3 1.2-.6 2.5-.8 3.8c-.3 1.7-.4 3.4-.4 5.1V432c0 17.7 14.3 32 32 32s32-14.3 32-32V396.9l17.6 17.5 0 0c87.5 87.4 229.3 87.4 316.7 0c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.5 62.5-163.8 62.5-226.3 0l-.1-.1L125.6 352H160c17.7 0 32-14.3 32-32s-14.3-32-32-32H48.4c-1.6 0-3.2 .1-4.8 .3s-3.1 .5-4.6 1z"
          />
        </svg>
        <h3>85839</h3>
        <h4>total trasactions</h4>
      </div>
    </li>
    <li class="col-md-3 col-sm-6">
      <div class="d-flex flex-column align-items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="60"
          width="60"
          viewBox="0 0 512 512"
        >
          <path
            fill="#ffffff"
            d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"
          />
        </svg>
        <h3>10293</h3>
        <h4>transactions per hour</h4>
      </div>
    </li>
    <li class="col-md-3 col-sm-6">
      <div class="d-flex flex-column align-items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="60"
          width="60"
          viewBox="0 0 576 512"
        >
          <path
            fill="#f2f2f2"
            d="M384 160c-17.7 0-32-14.3-32-32s14.3-32 32-32H544c17.7 0 32 14.3 32 32V288c0 17.7-14.3 32-32 32s-32-14.3-32-32V205.3L342.6 374.6c-12.5 12.5-32.8 12.5-45.3 0L192 269.3 54.6 406.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160c12.5-12.5 32.8-12.5 45.3 0L320 306.7 466.7 160H384z"
          />
        </svg>
        <h3>50177</h3>
        <h4>largest transactions</h4>
      </div>
    </li>
    <li class="col-md-3 col-sm-6">
      <div class="d-flex flex-column align-items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="60"
          width="60"
          viewBox="0 0 640 512"
        >
          <path
            fill="#ffffff"
            d="M208 352c114.9 0 208-78.8 208-176S322.9 0 208 0S0 78.8 0 176c0 38.6 14.7 74.3 39.6 103.4c-3.5 9.4-8.7 17.7-14.2 24.7c-4.8 6.2-9.7 11-13.3 14.3c-1.8 1.6-3.3 2.9-4.3 3.7c-.5 .4-.9 .7-1.1 .8l-.2 .2 0 0 0 0C1 327.2-1.4 334.4 .8 340.9S9.1 352 16 352c21.8 0 43.8-5.6 62.1-12.5c9.2-3.5 17.8-7.4 25.3-11.4C134.1 343.3 169.8 352 208 352zM448 176c0 112.3-99.1 196.9-216.5 207C255.8 457.4 336.4 512 432 512c38.2 0 73.9-8.7 104.7-23.9c7.5 4 16 7.9 25.2 11.4c18.3 6.9 40.3 12.5 62.1 12.5c6.9 0 13.1-4.5 15.2-11.1c2.1-6.6-.2-13.8-5.8-17.9l0 0 0 0-.2-.2c-.2-.2-.6-.4-1.1-.8c-1-.8-2.5-2-4.3-3.7c-3.6-3.3-8.5-8.1-13.3-14.3c-5.5-7-10.7-15.4-14.2-24.7c24.9-29 39.6-64.7 39.6-103.4c0-92.8-84.9-168.9-192.6-175.5c.4 5.1 .6 10.3 .6 15.5z"
          />
        </svg>
        <h3>669</h3>
        <h4>positive feedbacks</h4>
      </div>
    </li>
  </ul>
</section>
