<section class="business">
  <div class="container">
    <div class="row saving">
      <div class="col">
        <h1>We're In The Business Of Saving your Money Value</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" routerLink="join" class="btnn">
          Join Wait list
        </button>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="section-head text-center">
      <h4 class="d-inline-block">number one</h4>
      <h2 class="d-inline-block">Buying And Selling Gold</h2>
      <p>
        Gold serves as a timeless store of value, prized for its intrinsic worth
        and historical stability amidst economic fluctuations.
      </p>
    </div>
    <div class="row justify-content-between">
      <div class="col-md-6">
        <h3>What is goldenia?</h3>
        <p>
          At Goldenia, we specialize in safeguarding your wealth by offering
          secure gold vault storage solutions. With our services, you can rest
          assured that your money's value is protected against economic
          volatility and inflation.
        </p>
        <button type="button" routerLink="join" class="btnn-sm">
          Join Wait list
        </button>
      </div>
      <div class="col-md-6">
        <h3>Why choose us?</h3>
        <ul>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              width="21"
              viewBox="0 0 448 512"
            >
              <path
                fill="#FFD43B"
                d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
              />
            </svg>
            We offer the most package of service in the industry.
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              width="21"
              viewBox="0 0 448 512"
            >
              <path
                fill="#FFD43B"
                d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
              />
            </svg>
            High customer retention rate. Printing and type company.
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              width="21"
              viewBox="0 0 448 512"
            >
              <path
                fill="#FFD43B"
                d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
              />
            </svg>
            Our service features are unmatched in the center.
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              width="21"
              viewBox="0 0 448 512"
            >
              <path
                fill="#FFD43B"
                d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
              />
            </svg>
            Afordable pricing offers. Printing and typesetting house.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bag"></div>
</section>
